.no-block {
  width: 1320px;
  margin: 0 auto 120px;
  display: flex;
  justify-content: space-between;
} 

.no-block-elem {
  width: 280px;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e9f1fc;
  border-radius: 5px;
  border-top: none !important;
  color: #182873;
}

.no-block-img {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

.no-block-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 20px;
}

.no-block-text {
  font-size: 19px;
  line-height: 1.47;
  text-align: center;
}

/* Styles for TABLET screens */
@media (max-width: 1320px) and (min-width: 768px) {
  .no-block {
    width: 688px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .no-block-elem {
    width: 608px;
    padding: 40px;
    margin-bottom: 20px;
  }
}

/* Styles for MOBILE screens */
@media (max-width: 767px) {
  .no-block {
    width: 335px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .no-block-elem {
    width: 265px;
    padding: 40px 35px;
    margin-bottom: 20px;
  }
}
